.body{
  direction:rtl ;
  text-align: right;   


  
}
.container-fluid,.container:lang(ar){
  text-align: right;    
}
.container-fluid,.container:lang(en){
  text-align: left;
}
.justify-content-end {
  justify-content: flex-start !important;

}
.justify-content-start{
  justify-content: flex-end;
}
.card:lang(ar)
{
    margin:12px;
    margin-right:2px;
    /* width:105%; */
    text-align: right;
}
.card:lang(en)
{
  margin:12px;
    margin-right:2px;
    /* width:105%; */
    direction:ltr;
    text-align: left;
}
.imagewrap:lang(en){
  float: left;   
}
.imagewrap:lang(ar){
  float: right;   
}
.card-image
{
  margin-top:-20px;
  border-radius: 07%;
  padding: 20px;
  width: 200px;
  height: 28vh;
  margin-right:40px;
}


.nopaddingnomagrin{
    margin:0px;padding: 0px;
    
}
.footer{

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 25px;
    border:0px  solid;
    outline: none;
    background-color:rgb(233, 229, 229) ;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 10PX 20PX;
    border-radius:50%;
  }
  
  #myBtn:hover {
    background-color:rgb(79, 157, 213);
    color: #FFF;
    
  }
  .label:lang(ar){
    text-align: right;
  }
  .img-fluidDetails {
    max-width: 85%;
    height: 10vw;
    
  }
  .bg-primary{
    background-color: rgb(79, 157, 213);;

  }

  .btn-primary {
    color: #fff;
    background-color: rgb(79, 157, 213);;
    border-color: rgb(79, 157, 213);;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #097e92;
    border-color: #148f77;
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #097e92;
    border-color: #148f77;
    box-shadow: 0 0 0 0.2rem rgba(60, 198, 171, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: rgb(79, 157, 213);;
    border-color: rgb(79, 157, 213);;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #148f77;
    border-color: #12846e;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(60, 198, 171, 0.5);
  }
  .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background:  rgb(79, 157, 213);;
  }
  .navbar-nav > li.nav-item > a.nav-link:active:focus,.btn-primary.dropdown-toggle:focus ,.dropdown-menu :focus {
    color: #fff;
    background:  rgb(79, 157, 213);;
    background-color:  rgb(79, 157, 213);;
  }
  .size-btn-job{
    font-size: smaller;
    border-radius:5%;
    border: 1px solid  rgb(79, 157, 213);
  }
  @media (min-width:770px){
    .vl:lang(en) 
{
    border-right: 1px solid white;
  }
  .vl:lang(ar) 
{
    border-left: 1px solid white;
  }
  }


.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-size:medium;
    font-weight: 600;

    
}

.input-group-text:lang(en) {
  background:  rgb(79, 157, 213) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input-group-text:lang(ar) {
  background: rgb(79, 157, 213)  !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0 0.25rem  0.25rem 0!important;
}
.register-con:lang(ar){
  background: -webkit-linear-gradient(left, #0062cc,rgb(79, 157, 213), #FFF);
  margin-top: 3%;
}
.register-con:lang(en){
  background: -webkit-linear-gradient(right,  #0062cc,rgb(79, 157, 213), #FFF);
  margin-top: 3%;
}
.register:lang(ar){
  background: -webkit-linear-gradient(left, #0062cc,rgb(79, 157, 213), #FFF);
  margin-top: 3%;
  padding: 3%;
}
.register:lang(en){
  background: -webkit-linear-gradient(right,  #0062cc,rgb(79, 157, 213), #FFF);
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: black;
  font-weight: bold;


}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 50%;
  background: -webkit-linear-gradient(right,  #0062cc,rgb(79, 157, 213),#0062cc );
  font-weight: bold;
  color: #FFF;
  margin-top:2%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  margin-top: 4%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: -webkit-linear-gradient(right,  #0062cc,rgb(79, 157, 213),#0062cc );
  color: #fff;
  font-weight: 60vw;
  width: 50%;
  cursor: pointer;
}
.btnRegister:lang(en){
  float: right;
}
.btnRegister:lang(ar){
  float: left;
}
.flot:lang(ar){
  float: right;
  width: 40%;
}
.flot:lang(en){
  float: left;
  width: 40%;

  
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;

}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
.full-width{
  width: 100%;
}
.full-width input{
  width: 80%;
  
  
}
.lable-background
{color:white; 
  border-radius: 3px;
text-align: center;
background: -webkit-linear-gradient(right, #4f9dd5bb, #5f6d9bbd);
}
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


.multi-item-carousel .carousel-inner > .carousel-item{
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .carousel-item{
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

.left .glyphicon,.right .glyphicon{
  position:absolute;
  top:13px;
  left:16px;
  color:#004C70;
}
.right .glyphicon{
  top:16px;
  left:15px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 30vw;
  left: 15%;
  z-index: 10;
  padding-top: 2vh;
  padding-bottom:2vh;
  color: #fff;
  text-align: center;
}
@media (max-width: 480px) {
  .pageheaderlogo{
    display: none;
  }
  .carousel-caption {
  }
}
@media (min-width: 481px) and (max-width: 767px)  {
  
}
@media (min-width: 767px) and (max-width: 890px){
  .carousel-caption {
  }
}
.second-layer{
  z-index:1;
  position: absolute;
  height: 40vw;
  width: 100%;
  background-color:black; 
  opacity: .3;
  color:rgb(79, 157, 213);
        }

.colors-logo{
   /* background: -webkit-linear-gradient(left, rgb(79, 157, 213),white) ; color:black; */
color:white;
  background-image: url('../images/2.jpg');
  padding: 0px;;
  /* /*background: -webkit-linear-gradient(top,black,rgb(79, 157, 213),white, rgb(79, 157, 213),black); */
}
.color-logo{
  background: -webkit-linear-gradient(right, #4f9dd5bb, #5f6d9bbd);
  /* /*background: -webkit-linear-gradient(top,black,rgb(79, 157, 213),white, rgb(79, 157, 213),black); */
}
.pageheaderlogo{
  position:absolute; left:5px;
}
.avatar-big {
  height:13vw;
  width:13vw;
}

.avatar-small {
  height:50px;
  width:50px;
}

.avatar-med {
  height:75px;
  width:75px;
}


.avatar-img {
width: 100%;
height: 100%;
-o-object-fit: cover;
object-fit: cover;
}

.rounded-circle {
border-radius: 50%!important;
}
.text-primary{
  border: solid;

}
/* sub silder */

.img-html5 {
  top:;
  width:70%;
  z-index:1;
  position: absolute;
  right: 25vw;
  border-radius: 20%;
  font-size: 2vw;
  left:15vw ;


}
@media (min-width: 767px) and (max-width: 890px){
  .img-html5 {
    top: 2vh;
    right: ;
    left:18vw ;
    width: 55%;



    }
}
    @media (min-width: 481px) and (max-width: 767px)  {
      .img-html5 {
        top: 1vh;
        right: 15vw;
        width: 55%;
        left:18vw ;



        }
    }
    @media (max-width: 480px) {
      .img-html5 {
          top: -2vh;
          width: 55%;
          right:25vw ;
          left:13vw ;
        }
    }
    @media (min-width: 480px) {
      .img-html5 {
        top:;
        width:;
        right: ;
        }
    }
        .img-html5 img {
          max-width:99%;
          border-radius: 0%;
          height: 100%;
        }

.text-sub-silder:lang(ar){
direction: rtl;
text-align: left;
font-size: 2vw;
background-color: black;
opacity: .7;
}
.text-sub-silder:lang(en){
  direction: ltr;
  text-align:right ;
  font-size: 2vw;
  background-color: black;
  opacity: .7;

  }
  .text-img-sub-silder{
    padding-right: 0px; 
    padding-left: 0px;
  }
  .text-silder{
    padding: 20px;
  }
  .second-layer1{
    z-index:1;
    position: absolute;
    height: 26vw;
    width: 100%;
    background-color:rgb(4, 25, 41); 
    opacity: .7;
    color:rgb(79, 157, 213);
          }