@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root{
    --main-color:#027581;
    --color-dark:#1D2231;
    --text-gray:#8390A2;
}
*{
    direction: rtl;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
#sidebar-toggle{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar{
    width: 70px;
    align-items: center;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header h5 span,
#sidebar-toggle:checked ~ .sidebar .sidebar-header h5 i,
#sidebar-toggle:checked ~ .sidebar li span:last-child,
#sidebar-toggle:checked ~ .sidebar .sidebar-header .bi-chevron-right{
    display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header {
    justify-content: center;
}
#sidebar-toggle:checked ~ .sidebar li{
    margin-right: 12px;
}
.sidebar{
    height: 100%;
    width: 275px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    padding: 1rem;
    overflow-y: auto;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.sidebar li{
    margin: 4px ;
}
.sidebar-submenu li{
    margin-right: 30px;
}
.sidebar a{
    text-decoration: none;
    color: #fff;
}
.sidebar a i:first-child{
padding-left: .6rem;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255, 253, 253);
    height: 80px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow: 1px 5px 8px #888888;
}
.social-icons{
    margin-right: 310px;
}
#sidebar-toggle:checked ~ .header .social-icons,
#sidebar-toggle:checked ~ .contant .title,
#sidebar-toggle:checked ~ .contant .show-data{
    margin-right: 100px;
}
.contant .title{
    position: relative;
    margin-right: 310px;
    margin-top: 120px;
}
.contant .button{
    position: relative;
    text-align: left;
    margin-left: 50px;
    margin-top: -30px;
}
.contant .show-data{
    position: relative;
    margin-top: 30px;
    margin-right: 310px;
}
.tender{
    margin-top: 50px;
    margin-right: 500px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  td, th {
    text-align: right;
  }
  td .btn {
      color: rgb(65, 139, 168);
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background: rgb(17, 17, 17);
    text-align: left; 
    height: 35px;
}
footer span{
    margin: 20px;
    font-size: 1.2rem;
}